body {
	color: #444;
	font: normal 20px 'Helvetica Neue', 'Helvetica', sans-serif;
	margin: 20px;
}

#content {
	margin: auto;
	max-width: 600px;
}

h1 {
	font-size: 26px;
}

h2 {
	font-size: 23px;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin: 20px 0;
}

input {
	font: normal 20px 'Helvetica Neue', 'Helvetica', sans-serif;
	padding: 5px;
}

input[type=text] {
	border: 2px solid #ccc;
	text-align: right;
	width: 80px;
}

label {
	display: block;
	margin-bottom: 10px;
}

table {
	border: 1px solid #ddd;
	border-collapse: collapse;
	margin: 30px 0 40px;
	width: 100%;
}

caption {
	text-align: left;
	margin-bottom: 10px;
}

th {
	background-color: #eee;
	border: 1px solid #ddd;
	font-size: 16px;
	padding: 5px 10px;
	text-align: center;
	white-space: nowrap;
}

td {
	border: 1px solid #ddd;
	padding: 5px 10px;
	text-align: center;
	white-space: nowrap;
	width: 100%;
}

.min-total {
	background-color: lime;
}

.max-total {
	background-color: pink;
}

.monthly-rent {
	color: gray;
	font-size: small;
}
